<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="Calculator" class="org.example.Calculator" autowire="byName">
        <property name="first" value="21">

        </property>
<!--        <property name="fun" ref="BasicCalc"></property>-->
    </bean>
    <bean id="fun" class="org.example.AdvCal" primary="true"/>
    <bean id="BasicCalc" class="org.example.BasicCal" lazy-init="true"/>


</beans>